body{
	background-image: url('../images/eboo-bg.png');
    background-color: #cccccc;
	font-family: 'Lato', sans-serif;
	/*	background-image: url('../images/bg-vert.png'); background-repeat: repeat;background-color: #68566b;*/
}
.main-feed{
	background-color: #ffffff;
}

.navbar-toggle .icon-bar {
    background-color: #F0525B;
}
.navbar-brand{
	padding-top: 2px;
}
.eboo-nav{
	height: 65px;
}

.eboo-nav li a{
	padding: 25px;
}
.navbar{
	background: none; box-shadow: none; margin-bottom: 1px; border: 0 none;
}
.navbar .navbar-nav > .active > a {
    background-color: #F0525B;
	color: #ffffff;
	font-weight: bold;
}
.nav > li > a:hover, .nav > li > a:focus {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    background-color: #EC6D6D;
	color: #333333;
}
a{
	color: #333333;
}
.separator{
	/*background-image: url('../images/border.png');     background-repeat: repeat-y;*/
	background-color: #F0525B;
	height: 1px;
}
li a i{
	padding-right: 5px;
}
.dataTables_length select{
		background-color: #F0525B;
}
.dataTables_filter label, .dataTables_length label{
	color: #F0525B;
	font-weight: bold;
}
.dataTables_filter, .dataTables_length{
	margin: 15px 0; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #EC6D6D!important;	font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current a:hover{
	background-color: #F0525B;
	background-image: linear-gradient(to bottom, #F0525B 0%, #F0525B 100%);
	border-color: #EC6D6D;
	color: #ffffff!important;
	font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper  .dataTables_info{
	padding-top: 1em;
}
.login-logo{
	border-bottom: 2px solid #EC6D6D;
	clear: both;
	height: 70px;

}
.login-wrap{
	margin: 90px auto 0 auto;
}
.login-box{
	background-color: #ffffff;
}
.login-form{
	margin-top: 15px;
}
.login-form .btn-default {
    background-image: linear-gradient(to bottom, #F0525B 0px, #F0525B 100%);
    background-repeat: repeat-x;
    border-bottom-color: #EC6D6D;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #EC6D6D;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #EC6D6D;
    border-top-color: #EC6D6D;
    text-shadow: 0 1px 0 #EC6D6D;
}
.login-form .panel-footer{
	padding-left: 3px;
}
.eboo-form{
	margin-top: 15px;
}


.cus_img_small{
	max-width:50px !important;
	}
	
/* Dropdown Submenu */ 

.navbar-nav>li {
    position: relative;
}

.navbar-nav>li:hover>.dropdown-menu {
    display: block;
}

.navbar-nav>li:hover>a:after {
    border-left-color: #fff;
}

.navbar-nav>li.pull-left {
    float: none;
}

.navbar-nav>li.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.eboo-nav li .dropdown-menu>li>a {
    padding: 10px 30px;
}

.eboo-nav li .dropdown-menu>li:not(last-child) a {
    border-bottom: 1px solid rgba(204, 204, 204, 0.59);
}
/* User Profile */

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


/* 404 Page */

.error-404 {
background: none repeat scroll 0 0 #22B58D;
border-radius: 23px 23px 23px 23px;
clear: both;
color: #FFF;
display: block;
font-size: 24px;
margin-bottom: 29px;
margin-top: 20px;
padding: 10px;
text-align: center;
width: 60%;
}
.error_header {
    font-size: 300px;
}


td.action_table { width: 10% !important; }


@-moz-document url-prefix() { 
    .icon-profile {
        margin-top: -15px;
    }
}


/* Profile */

.profile-header{
    position:relative;
    padding:15px 22.5px;
    border-top:1px solid #e7edf2
}

.profile-header .lead{
    margin-bottom:6px
}

.profile-status{
    margin-bottom:10px;
    font-size:18px;
    font-weight:200;
    line-height:1.2
}

.profile-data{
    line-height:1.6
}

.profile-data>.fa,.profile-data>.glyphicon{
    color:#a1aab0;
    margin:0 8px 0 12px
}

.activity-wrapper{
    position:relative;
    padding:15px
}

.activity-list{
    position:relative;
    padding:33px;
    border-left:1px solid #e7edf2
}

.activity-list .activity-status{
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding-left:33px
}

.activity-list .activity-status>.activity-icon{
    position:absolute;
    width:28px;
    height:28px;
    top:-4px;
    left:-14px;
    border-radius:28px;
    background-color:#e7edf2;
    color:#3e5771;
    text-align:center;
    text-decoration:none
}

.activity-list .activity-status>.activity-icon>.fa,.activity-list .activity-status>.activity-icon>.glyphicon{
    line-height:28px
}

.activity-list .activity-comments,.activity-list .activity-form{
    padding:10px 0
}

.project-wrapper{
    position:relative
}

.project-wrapper .project-item{
    margin-bottom:15px;
    padding-bottom:20px;
    background-color:#fff;
    border:1px solid #e7edf2;
    border-radius:4px
}

.project-img>img{
    width:100%;
    height:auto;
    border-top-right-radius:4px;
    border-top-left-radius:4px
}

.project-descriptions{
    padding:15px
}

.project-resume{
    padding:0 15px
}

.project-grid{
    display:table;
    width:100%
}

.project-grid>.project-grid-item{
    padding:15px 0;
    display:table-cell;
    width:50%;
    border-width:0 0 1px 1px;
    border-style:solid;
    border-color:#e7edf2;
    text-align:center;
    vertical-align:center
}

.project-grid>.project-grid-item:first-child{
    border-left-width:0
}

.project-resume>.project-grid:last-child>.project-grid-item{
    border-bottom-width:0
}

.posts-wrapper{
    position:relative
}

.posts-wrapper .post-item{
    position:relative;
    margin-bottom:20px;
    padding:15px;
    background-color:#fff;
    border:1px solid #e7edf2;
    border-radius:4px
}

.posts-wrapper .post-item>.post-title{
    margin:5px 0 15px;
    font-size:18px
}

.posts-wrapper .post-item>.post-attributes{
    margin-bottom:15px
}

.posts-wrapper .post-item>.post-attributes>.post-status{
    margin-right:20px
}

.posts-wrapper .post-details{
    display:inline-block;
    margin-right:10px;
    font-size:12px
}

.posts-wrapper .post-details>.fa,.posts-wrapper .post-details>.glyphicon{
    margin-left:5px
}

.post-img{
    display:block;
    position:relative;
    margin-right:15px;
    float:left
}

.post-img>img{
    width:100px;
    height:auto
}

.about-wrapper{
    padding:15px;
    background-color:#fff;
    border:1px solid #e7edf2;
    border-radius:4px
}

body.wrapkit-content-rtl .profile-data>.fa,body.wrapkit-content-rtl .profile-data>.glyphicon{
    margin:0 12px 0 8px
}

body.wrapkit-content-rtl .project-grid>.project-grid-item:first-child{
    border-left-width:1px
}

body.wrapkit-content-rtl .project-grid>.project-grid-item:last-child{
    border-left-width:0
}

body.wrapkit-content-rtl .activity-list{
    border-left:0;
    border-right:1px solid #e7edf2
}

body.wrapkit-content-rtl .activity-list .activity-status{
    padding-left:0;
    padding-right:33px
}

body.wrapkit-content-rtl .activity-list .activity-status>.activity-icon{
    left:auto;
    right:-14px
}

@media (max-width:767px){
    .profile-header{
        text-align:center
    }

    .profile-avatar{
        margin:0 0 15px;
        float:none!important
    }

    .post-img{
        margin-right:0;
        margin-bottom:15px;
        float:none;
        max-height:240px;
        overflow:hidden
    }

    .post-img>img{
        width:100%;
        height:auto
    }

}

